version: '3.8'

services:

  mysql:
    image: mysql:8.0
    container_name: internal-mysql
    restart: always
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      CLUSTER_ID: "1"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

  discovery-server:
    build: ./discovery_server
    container_name: discovery-server
    ports:
      - "8761:8761"

  api-gateway:
    build: ./api_gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - discovery-server

  auth-service:
    build: ./auth
    container_name: auth-service
    depends_on:
      - discovery-server
      - mysql
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://internal-mysql:3306/auth?createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: ""
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: com.mysql.cj.jdbc.Driver
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}

  product-service:
    build: ./product
    container_name: product-service
    depends_on:
      - discovery-server
      - mongodb
      - kafka
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/products
      SPRING_GRPC_SERVER_PORT: 9090
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILE_ACTIVE}
  
  
  order-service:
    build: ./order
    container_name: order-service
    depends_on:
      - discovery-server
      - mysql
      - kafka
      - product-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://internal-mysql:3306/order?createDatabaseIfNotExist=true
      SPRING_DATASOURCE_DRIVER-CLASS-NAME: com.mysql.cj.jdbc.Driver
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILE_ACTIVE}

volumes:
  mysql_data:
  mongo_data:
