spring:
  application:
    name: product-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/products
  profiles:
    active: dev

server:
  servlet:
    context-path: /product-service

  port: 0

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka