spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/products
  grpc:
    server:
      port: 9090
  kafka:
    bootstrap-servers: localhost:9092


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    instance-id: