spring:
  application:
    name: auth-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update

server:
  port: 0
  servlet:
    context-path: /auth-service