server:
  port: 8080

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  main:
    web-application-type: reactive

  application:
    name: api_gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth
              uri: lb://auth-service
              predicates:
                - Path=/auth-service/api/**

            - id: product
              uri: lb://product-service
              predicates:
                - Path=/product-service/api/**

            - id: order
              uri: lb://order-service
              predicates:
                - Path=/order-service/**
              filters:
                - name: JwtFilter

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG