server:
  port: 8080

spring:
  application:
    name: api_gateway
  jwt:
    secret-key: thisislekybasecretkey15042005hehe

  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: auth
              uri: lb://auth-service
              predicates:
                - Path=/auth-service/api/**

            - id: product
              uri: lb://product-service
              predicates:
                - Path=/product-service/api/**

            - id: order
              uri: lb://order-service
              predicates:
                - Path=/order-service/**
eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka

security:
  auth-paths: /order-service/**

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
