server:
  port: 8080

spring:
  main:
    web-application-type: reactive

  application:
    name: api_gateway

  jwt:
    secret-key: thisislekybasecretkey15042005hehe

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth
              uri: lb://auth-service
              predicates:
                - Path=/auth-service/api/**

            - id: product
              uri: lb://product-service
              predicates:
                - Path=/product-service/api/**

            - id: order
              uri: lb://order-service
              predicates:
                - Path=/order-service/**
              filters:
                - name: JwtFilter

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
