name: Build and Test API-Gateway
on:
  push:
    paths:
      - 'api_gateway/**'
  pull_request:
    paths:
      - 'api_gateway/**'

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./api_gateway

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean install