name: Build and test Discover Server

on:
  push:
    paths:
      - 'discovery_server/**'
  pull_request:
    paths:
      - 'discovery_server/**'

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./discovery_server

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name: Build with Maven
        run: mvn clean install
